<mat-toolbar color="accent">
    <span class="title-center"> Usluga </span>
  </mat-toolbar>
  
  <div class="container mat-elavation-z8">
    <mat-table #table [dataSource]="dataSource" class="mat-cell" matSort>
      <!--ID-->
      <ng-container matColumnDef="id">
        <mat-header-cell mat-sort-header *matHeaderCellDef>ID</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
      </ng-container>
        
      <ng-container matColumnDef="naziv">
        <mat-header-cell mat-sort-header *matHeaderCellDef>Naziv</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.naziv}}</mat-cell>
      </ng-container>
     
      <ng-container matColumnDef="opisUsluge">
        <mat-header-cell *matHeaderCellDef>Opis usluge</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.opis_usluge}}</mat-cell>
      </ng-container>
 
      <ng-container matColumnDef="datumUgovora">
        <mat-header-cell mat-sort-header *matHeaderCellDef>Datum Ugovora</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.datum_ugovora | date : "dd.MM.yyyy"}}</mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="provizija">
        <mat-header-cell mat-sort-header *matHeaderCellDef>Provizija</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.provizija }}</mat-cell>
      </ng-container>
      <!-- Korisnik -->
      <ng-container matColumnDef="korisnik">
        <mat-header-cell *matHeaderCellDef>Korisnik</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.korisnik.ime }}</mat-cell>
      </ng-container>
      <!-- Action Buttons -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
          <button mat-icon-button color="accent" (click)="openDialog(1)">
            <mat-icon>add</mat-icon>
          </button>
        </mat-header-cell>
        <mat-cell *matCellDef="let row; let i = index">
          <button mat-icon-button color="primary" (click)="openDialog(2,row.id, row.naziv ,row.opisUsluge ,row.datumUgovora, row.provizija ,row.korisnik)">
            <mat-icon color="accent">edit</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="openDialog(3,row.id, row.naziv ,row.opisUsluge ,row.datumUgovora, row.provizija ,row.korisnik)">
            <mat-icon color= "accent" aria-label="Delete">delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row
        style="cursor: pointer;"
        *matRowDef="let row; columns: displayedColumns">
      </mat-row>
    </mat-table>
  </div>