<mat-toolbar color="accent">
  <span class="title-center">Filijala</span>
</mat-toolbar>

<div class="container mat-elevation-z8">
  <div class="filter-field">
    <mat-form-field subscriptSizing="dynamic" appearance="outline">
      <mat-icon matPrefix>search</mat-icon>
      <input
        matInput
        placeholder="Pretraži..."
        name="filterField"
        (keyup)="applyFilter($event)"
      />
    </mat-form-field>
    <button mat-icon-button color="accent" (click)="openDialog(1)">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div class="container mat-elevation-z8">
    <mat-table [dataSource]="dataSource" class="mat-cell" matSort>
      <ng-container matColumnDef="id">
        <mat-header-cell mat-sort-header *matHeaderCellDef>ID</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="adresa">
        <mat-header-cell mat-sort-header *matHeaderCellDef>Adresa</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.adresa }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="brojPultova">
        <mat-header-cell mat-sort-header *matHeaderCellDef>Broj pultova</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.brojPpultova}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="posedujeSef">
        <mat-header-cell *matHeaderCellDef>Poseduje šefa</mat-header-cell>
        <mat-cell [style.color]="row.posedujeSef ? 'Green' : 'Red'" *matCellDef="let row">{{ row.posedujeSef ? 'Da' : 'Ne' }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="banka">
        <mat-header-cell *matHeaderCellDef>Banka</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.banka.naziv }}</mat-cell>
      </ng-container>

      <!-- Action Buttons -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Akcije</mat-header-cell>
        <mat-cell *matCellDef="let row; let i = index">
          <!-- <button mat-icon-button color="accent" (click)="openDialog(1)">
            <mat-icon>add</mat-icon>
          </button> -->
          <button mat-icon-button color="accent" (click)="openDialog(2, row.id, row.adresa, row.brojPultova, row.posedujeSef, row.banka)">
            <mat-icon color="accent" aria-label="Edit">edit</mat-icon>
          </button>
          <button mat-icon-button color="accent" (click)="openDialog(3, row.id, row.adresa, row.brojPultova, row.posedujeSef, row.banka)">
            <mat-icon color="accent" aria-label="Delete">delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row style="cursor: pointer;" *matRowDef="let row; columns: displayedColumns" (click)="selectRow(row)"></mat-row>

    </mat-table>
    <mat-paginator [length]="20" [pageSize]="5" [pageSizeOptions]="[3, 6, 9, 12]"></mat-paginator>
  </div>
    
  <div class="container mat-elevation-z8">
    <app-usluga *ngIf="parentSelectedFilijala" [childSelectedFilijala]="parentSelectedFilijala">
    </app-usluga>
  </div>
</div>
