  mat-cell:nth-child(1),
  mat-header-cell:nth-child(1) {
    display: flex;
    justify-content: center;
    flex: 0 0 15%;
  }

  mat-cell:nth-child(2),
  mat-header-cell:nth-child(2) {
    display: flex;
    justify-content: center;
    flex: 0 0 15%;
  }

  mat-cell:nth-child(3),
  mat-header-cell:nth-child(3) {
    display: flex;
    justify-content: center;
    flex: 0 0 15%;
  }

  mat-cell:nth-child(4),
  mat-header-cell:nth-child(4) {
    display: flex;
    justify-content: center;
    flex: 0 0 15%;
  }

  mat-cell:nth-child(5),
  mat-header-cell:nth-child(5) {
    display: flex;
    justify-content: center;
    flex: 0 0 15%;
  }

  mat-cell:nth-child(6),
  mat-header-cell:nth-child(6) {
    display: flex;
    justify-content: center;
    flex: 0 0 15%;
  }

  mat-cell:nth-child(7),
  mat-header-cell:nth-child(7) {
    display: flex;
    justify-content: center;
    flex: 0 0 10%;
  }

  .title-center {
    margin: 0 auto;
  }

  .filter-field {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    color: #f86182;
  }

  .filter-field mat-form-field {
    margin-right: 10px;
    border: 2px solid #f86182;
    border-radius: 8px;
  }

  .mat-paginator {
    margin-top: 24px;
  }

  .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: #bc2158;
  }

  .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: #bc2158;
  }

  .mat-icon-button {
    margin-left: 10px;
  }
