/* mat-card {
  height: 11rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 3px  rgb(248, 97, 178, 1);
  padding: 10% 10%;
 
}

mat-card:hover {
  border: 2px solid rgb(248, 97, 178, 1);
}
mat-card:hover a{
  font-weight: 900;
}

mat-card-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1%;
}
mat-card-title {
  font-weight: 600;
}

mat-card-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1%;
}

a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 10px;
  background-color: var(--primary);
}  */