.container {
  display: flex;
  flex-basis: column;
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid black;
  cursor: pointer;
}

mat-nav-list a{
  transition: all ease-in 0.1s;
}

mat-nav-list a:hover {
  background-color: light pink;
  font-weight: 100;
  color: white;
  opacity: 0.8;
  border: 1px solid #f86182;
}


